In [5]:
import pandas as pd
data = pd.read_csv('data.csv',sep=',',header=None)

In [6]:
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,-0.015,0.031,-1.3,-0.014,-0.04,-0.013,-0.5,0.1,-0.1,0.1,...,7.0,12.0,28.0,21.0,8.0,4.0,70.0,8.0,18.0,6.0

In [7]:
s = list(range(10))

In [8]:
s[-9:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
len(s[-9:])

9

In [12]:
data.shape

(24118, 64)

In [15]:
import numpy as np
labels = data.iloc[:,-9:].as_matrix()

In [16]:
type(labels)

numpy.ndarray

In [17]:
labels.shape

(24118, 9)

In [21]:
dl = data

In [22]:
data = dl.iloc[:,:-9].as_matrix()
label = dl.iloc[:,-9:].as_matrix()

In [30]:
norm_data = (data - data.mean(axis=0)) / data.std(axis=0)

In [33]:
norm_data[0,:]

array([-0.25062843,  0.27733285, -0.41362806, -0.53268557, -0.81737024,
       -0.14170491, -0.44331989,  0.16792073, -0.21621058,  0.1309308 ,
        0.68199012,  0.19187775, -0.60498673,  0.7884634 ,  0.24639274,
        1.84751725,  0.96857802,  0.68874262,  0.        ,  0.88000619,
       -1.05058065,  1.07474875,  0.34414284,  0.        , -0.32313017,
       -0.46081482, -1.23004983,  1.00577541, -0.63632312,  0.68041376,
       -1.14687221, -0.65110244,  0.43447041, -0.77264298,  0.31198299,
       -1.30647031, -0.92532766,  0.16023126, -1.89424133, -0.97506796,
       -1.22377496, -0.32273105, -1.33068904,  0.44158017,  1.10852848,
       -0.85699128,  0.75872187,  0.        , -0.22559972,  0.70624604,
        0.17328419,  0.14461528,  0.45144502, -0.41294774,  1.29802431])